<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RegistroContratoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="RegistroContratoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webservicesh.sc.gov.br/detran/RegistroContrato/RegistroContrato.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistroContratoSoap"
                contract="RegistroContratoSoap" name="RegistroContratoSoap" />
            <endpoint address="http://webservicesh.sc.gov.br/detran/RegistroContrato/RegistroContrato.asmx"
                binding="customBinding" bindingConfiguration="RegistroContratoSoap12"
                contract="RegistroContratoSoap" name="RegistroContratoSoap12" />
        </client>
    </system.serviceModel>
</configuration>